<div class="container">
    <div class="row" style="vertical-align: middle;">
        <div class="col-md-6 mx-auto mt-5">
            <div class="card" style="background-color:#D7CCC8;">
                <div class="card-body" style="vertical-align: middle;">
                    <h2 class="text-center">Simulador CSMA-CD</h2>
                        <form [formGroup]="initialData" (ngSubmit)="add()">
                        <div class="form-group" >
                            <label class="col-8 mt-1" >Tiempo de simulación: </label>
                            <input type="number" placeholder="Tiempo (s)" class="form-control" formControlName="time">
                        </div>
                        <div class="form-group" >
                            <label class="col-8 mt-1" >Numero de host: </label>
                            <input type="number" placeholder="Numero de host" class="form-control" formControlName="hosts">
                        </div>
                        <div class="form-group" >
                          <label class="col-8 mt-1" >Velocidad de transmisión: </label>
                          <input type="number" placeholder="Velocidad (Mbps)" class="form-control" formControlName="speed">
                        </div>
                        <div class="form-group">
                            <label class="col-8 mt-1">Tasa promedio de llegada de paquetes: </label>
                            <input type="number" placeholder="Promedio paquete/s" class="form-control" formControlName="average">
                        </div>
                        <div class="form-group">
                            <label class="col-8 mt-1">Tamaño del paquete: </label>
                            <input type="number" placeholder="Tamaño (bits)" class="form-control" formControlName="length">
                        </div>
                        <div class="form-group">
                          <label class="col-8 mt-1">Distancia entre hosts: </label>
                          <input type="number" placeholder="Distancia (m)" class="form-control" formControlName="distance">
                      </div>
                        <button type="submit" class="btn btn-dark float-right">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
